body {
	margin: 0;
}
.navigation {
	background: #f4f5f6;
	border-bottom: 1px solid #d1d1d1;
	margin: 0;
	line-height: 5.2rem;
}

#loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1,1,1,0.5);
}
#loading > div {
	margin: 200px;
	text-align: center;
	color: white;
}

#mainContainer {
	min-height: 450px; /* this was so that #loading would look alright with no content, no longer needed? */
	padding-top: 20px;
}

.navigation-list {
    list-style: none;
}
.navigation-item {
    float: left;
    margin-right: 5rem
}

.tabbutton {
    border-radius: 0;
    border-left: none;
}

.tabbutton:first-child {
    border-radius: 7px 0 0 7px;
    border-left: solid 1px #4c566a;
}

.tabbutton:last-child {
    border-radius: 0 7px 7px 0;
}

a.button.button-large.tabbutton.button-outline:hover {
    background-color: #4c566a;
	color: white;
}

.expando {
	cursor: pointer;
	padding: 2px 5px;
	position: relative;
}
.expando-contents {
	padding: 2px 5px;
}
.expando-true {
	border-bottom: 1px solid #d8dee9;
}
.expando-wrapper {
	border-radius: 6px;
	margin: 5px;
}
.expando-dark {
	border: 1px solid #4c566a;
}
.expando-light {
	border: 1px solid #d8dee9;
}
.expando-carat {
	min-width: 20px;
	margin-left: 20px;
}
.block {
	margin-right: 2px;
	margin-left: 2px;
	font-weight: bold;
	/*
	padding: 2px;
	--border-color: black;
	border: 1px solid var(--border-color);
	border-radius: 4px;*/
}
.red {
	color: red;
	--border-color: red;
}
.teacher {
	position: absolute;
	right: 120px;
	color: #9F9F9F;
}
.center {
	text-align: center;
}
.green {
	color: green;
	--border-color: green;
}
.gold {
	color: #ff8e68;
	--border-color: gold;
}
.light {
	color: #9F9F9F;
}


.classes {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 121px;
	width: 66%;
	padding-left: 10%;
}
.smallschedule {
	display: inline-block;
	width: 33%;
	position: fixed;
	top: 121px;
	left: 66%;
	padding-right: 5%;
	padding-left: 3%;
}

.admin-class-list {
    display: inline-block;
    vertical-align: top;
	position: fixed;
	width: 55%;
	left: 45%;
	padding-right: 5%;
    padding-left: 3%;
    max-height:80vh;
}

.admin-student-list {
    display: inline-block;
    vertical-align: top;
	position: fixed;
	width: 40%;
	left: 55%;
	padding-right: 5%;
    padding-left: 3%;
    max-height:80vh;
}

.admin-student-view {
    display: inline-block;
    vertical-align: top;
    width: 45%;
	margin-left: 10%;
}

.linebreak {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #4c566a;
    margin: 1em 0;
    padding: 0;
}

.class-roster {
    display: inline-block;
    vertical-align: top;
    width: 35%;
	margin-left: 10%;
}

.class-roster-title {
    text-align: center;
    color: #4c566a;
    font-weight: bold;
    margin-top: 1%;
}

.button {
    margin-bottom: 0px;
}

@media only screen and (max-width: 1050px) {
    .classes {
	width: 100%;
	padding: 3%;
    }
    .smallschedule {
	display: none;
    }
}
@media only screen and (max-width: 1350px) {
    .class-roster, .admin-student-view {
        margin-left: 10px;
    }
    .admin-class-list {
	padding-left: 10px;
	padding-right: 10px;
	left: 35%;
	width: 65%;
    }
    .admin-student-list {
	left: 45%;
	width: 55%;
    }
}

.ss-block {
    border-radius: 6px;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    padding: 5px 20px;
    margin-bottom: 3px;
    position: relative;
}
.ss-block-filled {
    --border-color: #4c566a;
}
.ss-block-empty {
    --border-color: #9f9f9f;
}
.ss-class-name {
    position: absolute;
    left: 45px;
    font-size: 75%;
}
.ss-sub {
    position: absolute;
    left: 45px;
    bottom: 0;
    font-size: 55%;
}

.ss-del {
    position: absolute;
    right: .5rem;
    font-size: 1.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.2rem;
}

mark {
    border-radius: 3px;
    padding: 3px;
    background-color: gold;
}

.tabs-container {
    margin-top: 1.5rem;
    margin-bottom: 2%;
}

.schedule {
    display: grid;
    grid-template-columns: 11.4% 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5.54% 1fr 1fr 1fr 9.4% 1fr 1fr 1fr 1fr 4.02% 1fr;
    height: 900px;
    width: 780px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: black;
    border: 1px solid black;
}
.schedule > div > div {
    padding: 10px 10px 0 10px;
    font-weight: bold;
    text-align: center;
}
.schedule > div {
    position: relative;
    background-color: white;
}
.sport {
    grid-column-start: 1;
    grid-column-end: 7;
}
.schedule-classname {
    font-weight: 300;
}
.schedule-killbtn, .alert-close, .modal-close {
    position: absolute;
    top: 3px;
    right: 3px;
    padding: 0;
    height: 22px;
    width: 22px;
    line-height: 24px;
    border-radius: 11px;
    background-color: rgba(255, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    color: black;
}
.schedule-classroom {
    position: absolute;
    top: 0px;
    left: 4px;
    font-weight: 300;
    font-size: 80%;
}

.login-button {
    padding: 0 15px;
}

.login-icon {
    margin-right: 10px;
}

.schedule-cb > div > label {
    display: inline-block;
}

.print-icon {
    margin-right: 10px;
}

@media print {
    nav, .schedule-cb, .tabs-container, .schedule-killbtn, .printhide {
	display: none;
    }
    .container {
        padding: 0;
        max-width: unset;
    }
    .schedule {
	width: 7.5in;
	height: 8.65in;
	/*
	grid-column-gap: 0.0138in;
	grid-row-gap: 0.0138in;
	*/
	margin-bottom: 1in; /* shoves the table onto the next page */
    }
}
@page {
    margin-left: 0.5in;
    margin-top: 0.5in;
    margin-right: 0.5in;
}

.print-button {
    margin-right: 20px;
}

.expandoscroll-carat {
    margin-right: 20px;
}

.absolute-fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.timecover-warning {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: white;
  z-index: 20;
}

.waitlist-button {
    margin-left: 5px;
    padding: 0 10px;
    color: black;
}

.alert-msg {
    width: 97%;
    margin: 1%;
}

.alert {
  border-radius: 10px;
  background-color: var(--variant-bg);
  color: var(--variant-text);
  border: 1px solid var(--variant-border);
  padding: 0 10px;
  position: relative;
  margin-bottom: 1%;
}

.alert-warning {
  --variant-bg: #fff3cd;
  --variant-text: #856404;
  --variant-border: #ffeeba;
}
.alert-danger {
  --variant-bg: #f8d7da;
  --variant-text: #721c24;
  --variant-border: #f4c5cb;
}
.alert-success {
    --variant-bg: #155724;
    --variant-bg: #d4edda;
    --variant-border: #c3e6cb;
}

.alert-primary {
    --variant-bg: #004085;
    --variant-bg:  #cce5ff;
    --variant-border:#b8daff;
}

.alert-close, .modal-close {
  padding: 0 6.5px;
  background-color: inherit;
}
.modal-close {
  margin-top: 25px;
  margin-right: 25px;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(200, 200, 200, 0.5);
}
.modal {
  z-index: 150;
  position: relative;
  top: 80px;
  margin: auto;
  max-width: 75%;
  padding: 30px;
  border-radius: 50px;
  background-color: white;
}
