body {
	margin: 0;
}
.navigation {
	background: #f4f5f6;
	border-bottom: 1px solid #d1d1d1;
	margin: 0;
	line-height: 5.2rem;
}

#loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1,1,1,0.5);
}
#loading > div {
	margin: 200px;
	text-align: center;
	color: white;
}

#mainContainer {
	min-height: 450px; /* this was so that #loading would look alright with no content, no longer needed? */
	padding-top: 20px;
}

.navigation-list {
    list-style: none;
}
.navigation-item {
    float: left;
    margin-right: 5rem
}

.tabbutton {
    border-radius: 0;
    border-left: none;
}

.tabbutton:first-child {
    border-radius: 7px 0 0 7px;
    border-left: solid 1px #4c566a;
}

.tabbutton:last-child {
    border-radius: 0 7px 7px 0;
}

a.button.button-large.tabbutton.button-outline:hover {
    background-color: #4c566a;
	color: white;
}

.expando {
	cursor: pointer;
	padding: 2px 5px;
	position: relative;
}
.expando-contents {
	padding: 2px 5px;
}
.expando-true {
	border-bottom: 1px solid #d8dee9;
}
.expando-wrapper {
	border-radius: 6px;
	margin: 5px;
}
.expando-dark {
	border: 1px solid #4c566a;
}
.expando-light {
	border: 1px solid #d8dee9;
}
.expando-carat {
	min-width: 20px;
	margin-left: 20px;
}
.block {
	margin-right: 2px;
	margin-left: 2px;
	font-weight: bold;
	/*
	padding: 2px;
	--border-color: black;
	border: 1px solid var(--border-color);
	border-radius: 4px;*/
}
.red {
	color: red;
	--border-color: red;
}
.teacher {
	position: absolute;
	right: 120px;
	color: #9F9F9F;
}
.center {
	text-align: center;
}
.green {
	color: green;
	--border-color: green;
}
.gold {
	color: #ff8e68;
	--border-color: gold;
}
.light {
	color: #9F9F9F;
}


.classes {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 121px;
	width: 66%;
	padding-left: 10%;
}
.smallschedule {
	display: inline-block;
	width: 33%;
	position: fixed;
	top: 121px;
	left: 66%;
	padding-right: 5%;
	padding-left: 3%;
}

@media only screen and (max-width: 1050px) {
    .classes {
	width: 100%;
	padding: 3%;
    }
    .smallschedule {
	display: none;
    }
}

.ss-block {
    border-radius: 6px;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    padding: 5px 20px;
    margin-bottom: 3px;
    position: relative;
}
.ss-block-filled {
    --border-color: #4c566a;
}
.ss-block-empty {
    --border-color: #9f9f9f;
}
.ss-class-name {
    position: absolute;
    left: 45px;
    font-size: 75%;
}
.ss-sub {
    position: absolute;
    left: 45px;
    bottom: 0;
    font-size: 55%;
}

.ss-del {
    position: absolute;
    right: .5rem;
    font-size: 1.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1.2rem;
}

mark {
    border-radius: 3px;
    padding: 3px;
    background-color: gold;
}

.tabs-container {
    margin-top: 1.5rem;
}
